/* COLORS */
/* Orange: #FF9900
Charcoal: #424242
Light-Grey: #E9E9E9
Dark-Grey: #BCBCBC
Blue: #3299BB

font-family: 'Allerta', sans-serif;
font-family: 'Sofia', cursive; */

.Lottery {
  font-family: 'Allerta', sans-serif;
  color: #3299BB;
  background-color: white;
  border: 1px solid grey;
  border-radius: 5px;
  min-height: 100px;
  margin: 20%;
  padding: 30px 0;
}
.LotteryBalls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  margin: 5% 0;
}

.LotteryBall {
  font-size: 20px;
  line-height: 70px;
  font-weight: bold;
  color: white;
  min-width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 5% auto;
  background-color: #FF9900;
  font-family: 'Allerta', sans-serif;
}

.LotteryButton {
  color: white;
  font-family: 'Allerta', sans-serif;
  font-size: 20px;
  border-radius: 20px;
  background-color: #3299BB;
  margin-bottom: 2%;
  height: 50px;
  padding: 5px 20px;
}
